export(
       CleanData, 
       Collapse,
       IdentifyMarkerBlocks,
       ImputeMissingGeno,
       SimDeletions,
       CreateDistMatrix,
       IdentifyMarkerOrd,
       PermuteCols,   
       ReadData
        )
S3method(as.delmap.data, matrix)
S3method(print, delmap.data)
S3method(plot, delmap.data)
importFrom(fields, two.colors)
import(seriation, TSP)
